<p>
  <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    写真投稿
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="field row mb-3">
    <%= form.file_field :images, direct_upload: true, multiple: true %>
  </div>
</div>