<footer>
  <nav class="navbar navbar-expand-md fixed-bottom" style="background-color: #f0e68c;">
  <div class="navbar-brand mx-auto">
    <%= link_to root_path do %>
      <%= image_tag "/images/icon.png", size: "50x50" %>
    <% end %>
    <a class="navbar-brand ms-2 fs-3 fw-bolder" href="#">飯ログ</a>
  </div>
</nav>
</footer>
