<footer>
  <nav class="navbar navbar-expand-md border-top border-2 border-dark">
  <div class="navbar-brand mx-auto">
    <%= link_to root_path, class: "navbar-brand ms-2 fs-3 fw-bolder" do %>
      <%= image_tag "/images/icon.png", size: "50x50" %>
      <span style="color: #ffa500;">飯ログ</span>
    <% end %>
  </div>
</nav>
</footer>
