<header>
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #f0e68c;">
      <div class="container-fluid">
        <%= link_to root_path do %>
          <%= image_tag "/images/icon.png", size: "50x50" %>
        <% end %>
        <a class="navbar-brand ms-2 fs-3 fw-bolder" href="#">飯ログ</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-header">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">お店検索</a>
            </li>
              <a class="nav-link disabled">|</a>
            <li class="nav-item">
              <%= link_to "お店登録", new_companies_shop_path, class: "nav-link" %>
            </li>
              <a class="nav-link disabled">|</a>
            <li class="nav-item">
              <a class="nav-link disabled">マイページ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>